/*
Theme Name: storefront-enfant
Description: Theme enfant de storefront. Vous pouvez maintenant effectuer vos modifications en toute sécurité.
Author: WPMarmite
Author URI: https://wpmarmite.com
Template: storefront
Version: 1.0
*/

/* Site Header ********/
.site-header {
  background: linear-gradient(
    90deg,
    rgba(255, 75, 1, 1) 10%,
    rgba(250, 160, 0, 1) 70%
  );
  margin-bottom: 0em;
}

.main-navigation ul.menu > li > a {
  font-weight: 400 !important;
  font-size: 1.2em !important;
  color: white;
  border: 1px solid;
  border-radius: 5px;
  padding: 10px;
  margin: 2px;
}
.secondary-navigation ul.menu > li > a {
  font-weight: 700 !important;
  font-size: 1.4em !important;
  color: white;
  border: 1px solid;
  border-radius: 5px;
  padding: 10px;
  margin: 2px;
}

/* Text **************/
h1 {
  color: white;
  font-weight: 400;

  border-radius: 10px;
  padding: 0.2em 0.5em;

  background: linear-gradient(
    90deg,
    rgba(255, 75, 1, 1) 0%,
    rgba(250, 160, 0, 1) 100%
  );
}

h2,
h3,
h4,
h5,
h6 {
  color: white;
  font-weight: 400;
  padding: 0.2em 0.5em;

  background: linear-gradient(
    90deg,
    rgba(255, 75, 1, 1) 0%,
    rgba(250, 160, 0, 1) 33%
  );
}

.woocommerce-loop-product__title {
  background: linear-gradient(
    90deg,
    rgba(255, 75, 1, 1) 5%,
    rgba(250, 160, 0, 1) 30%,
    rgba(250, 160, 0, 1) 70%,
    rgba(255, 75, 1, 1) 95%
  );
}

/* Backgroung color *********/
.site-content,
.storefront-breadcrumb,
#masthead.site-header::after {
  background: linear-gradient(
    90deg,
    rgba(255, 75, 1, 0.77),
    rgba(250, 160, 0, 0.77) 10%,
    rgba(255, 230, 0, 0.5) 19%,
    rgba(255, 230, 0, 0.33) 100%
  );
}
.storefront-breadcrumb {
  margin: 0px;
}

/* Box backgroung color */

/* .woocommerce, */
.products,
.product,
.entry-content {
  padding: 10px;
  background: rgba(255, 255, 255, 0.33);
}
